*{
    margin: 0;
    padding: 0;
     font-family: "Kanit", sans-serif;
}

body{
  background-color: black;
}

header{
    /* border: 2px solid red; */
    height: 13vh;
    background-color: black;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    header{
      /* width: calc(100% - 30px); */
    }
  }

  .gen-layout{
    max-width: 1000px;
    margin: auto ;
}

  .nav-right{
    /* border: 2px solid white; */
    display: flex;
    width: 72rem;
    /* margin-left: 5rem; */
    align-items: center;
    justify-content: space-around;
    /* gap: 12rem; */
    /* padding-top: 1rem; */
    text-decoration: none;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .nav-right{
      width: calc(100% - 30px);
      margin: auto;
    }
  }

  .nav-item >a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    /* border: 2px solid white; */
}

.nav-item >a:first-child{
  color: #e0ae7d;
}

.inner_nav_logo{
  /* border: 2px solid white; */
  margin-left: 6rem;
}

.nav-left-item >a{
  text-decoration: none;
  color: white;
  margin-left: 3rem;
  /* border: 2px solid white; */
}

.nav-left-item >span{
  /* border: 2px solid white; */
  color: white;
  gap: 2rem;
  /* height: 10vh;
  width: 20px; */
}

.nav-left-item >label{
  color: white;
}

main{
  /* border: 2px solid red; */
  /* padding-bottom: 3rem; */
  height: 68vh;
  width: 78.7rem;
  background: linear-gradient(130deg, #008dc1 60%,#ffffff 40%);
  background-image: url(./image/Cafenaaa.jpg);
  background-size: cover;
  background-position: center;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    main{
      /* width: calc(100% - 30px); */
      max-width: 399px;
      height: 47vh;
      background-size: cover;
      background-position: center;
      /* margin: auto; */
    }
  }

  .banner-content >h1{
    /* border: 2px solid; */
    width: 290px;
    font-size: 3.5rem;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .banner-content >h1{
      /* width: calc(100% - 30px); */
      width: 400px;
      /* border: 2px solid white; */
      height: 20vh;
      /* margin: auto; */
      color: white;
    }
  }

  .banner-content >p{
    /* border: 2px solid; */
    font-size: 0.8rem;
    width: 400px;
    opacity: .7;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .banner-content >p{
      /* border: 2px solid blue; */
      font-size: 19px;
      opacity: .7;
    }
  }

.banner-content{
  /* border: 2px solid red; */
  color: white;
  width: 420px;
  font-family:Arial, Helvetica, sans-serif;
  /* margin-left: 5rem; */
  margin-block: 3rem;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .banner-content{
      /* border: 2px solid red; */
      margin-block: 1rem;
      width: 400px;
      height: 40vh;
    }
  }

  .btn-btn >button{
    /* border: 2px solid; */
    height: 8vh;
    width: 9rem;
    border-radius: 5px;
    border: none;
    background-color: #e0ae7d;
    cursor: pointer;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .btn-btn >button{
      /* border: 2px solid red; */
      height: 6vh;
    }
  }

.button-R >button{
  border: 0.1px solid white;
  height: 6.5vh;
  color: white;
  width: 8rem;
  margin-top: 0.3rem;
  border-radius: 5px;
  /* border: none; */
  background-color: transparent;
  cursor: pointer;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .button-R >button{
      /* border: 2px solid red; */
      height: 6vh;
    }
  }

.B-by{
  /* border: 2px solid red; */
  display: flex;
  margin-block: 1rem;
  gap: 0.7rem;
}

.banner_media{
  /* border: 2px solid blue; */
  display: flex;
  color: black;
  width: 15rem;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.2rem;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .banner_media{
      /* border: 2px solid red; */
      color: white;
      font-weight: bold;
      margin: auto;
      width: 25rem;
    }
  }

.banner_media >img{
  /* border: 2px solid red; */
  display: flex;
  /* gap: 1rem; */
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .banner_media >img{
      /* border: 2px solid blue; */
      margin-left: 3rem;
    }
  }

.banner_media >h6{
  /* border: 2px solid red; */
}

.bigBox{
  width: 100%;
  height: 260px;
  background-color: black;
  /* border: 2px solid white; */
  /* margin-right: 10rem; */
  display: flex;
  /* justify-content: space-between; */
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .bigBox{
      display: grid;
      margin: auto;
    }
  }

/* box1 code */
.box1-card {
  background-color: transparent;
  width: 300px;
  height: 230px;
  perspective: 1000px;
}

.box1-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 #707070; */
}

.box1-card:hover .box1-card-inner {
  transform: rotateY(180deg);
}

.box1-card-front, .box1-card-back {
  position: absolute;
  width: 100%;
  height: 230px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.box1-card-front {
  background-color: #bbb;
  width: 300px;
  height: 230px;
  margin: .4rem auto;
  background-image: url(./image/Curabitur.jpeg);
  background-size: cover;
  background-position: center;
}

.box1-card-back {
  background-color: #5e412f;
  color: white;
  transform: rotateY(180deg);
}

 /* box2 code */
 .box2-card {
  background-color: transparent;
  width: 300px;
  height: 230px;
  perspective: 1000px;
}

.box2-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 #707070; */
}

.box2-card:hover .box2-card-inner {
  transform: rotateY(180deg);
}

.box2-card-front, .box2-card-back {
  position: absolute;
  width: 100%;
  height: 230px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.box2-card-front {
  background-color: #bbb;
  width: 300px;
  height: 230px;
  margin: .4rem auto;
  background-image: url(./image/capichino.jpeg);
  background-size: cover;
  background-position: center;
}

.box2-card-back {
  background-color: #5e412f;
  color: white;
  transform: rotateY(180deg);
}

  /* box3 code */
  .box3-card {
    background-color: transparent;
    width: 300px;
    height: 230px;
    perspective: 1000px;
  }
  
  .box3-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 #707070; */
  }
  
  .box3-card:hover .box3-card-inner {
    transform: rotateY(180deg);
  }
  
  .box3-card-front, .box3-card-back {
    position: absolute;
    width: 100%;
    height: 230px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .box3-card-front {
    background-color: #bbb;
    width: 300px;
    height: 230px;
    margin: .4rem auto;
    background-image: url(./image/caffee.webp);
    background-size: cover;
    background-position: center;
  }
  
  .box3-card-back {
    background-color: #5e412f;
    color: white;
    transform: rotateY(180deg);
    /* border: 2px solid red; */
}

.box{
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  /* border: 2px solid red; */
  gap: 3rem;
  width: 20rem;
  /* margin-left: 5rem; */
  margin-block: 1rem;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .box{
      margin-left: 2.7rem;
    }
  }

.Text >h5{
  margin-block: 1rem;
  color: #e0ae7d;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .Text >h5{
      font-size: 25px;
    }
  }

.Text >h2{
  margin-block: 1.5rem;
  font-size: larger;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .Text >h2{
      font-size: 27px;
      margin-block: 1rem;
    }
  }

.Text >p{
opacity: .5;
font-size: 12px;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .Text >p{
      font-size: 18px;
    }
  }

  .about_us{
    /* border: 2px solid white; */
    display: flex;
    
    height: 300px;
    width: 1080px;
    margin-block: 3rem;
    /* margin-left: 5rem; */
  }

    /* Responsiveness code */
    @media(min-width: 320px) and (max-width: 460px){
      .about_us{
        /* border: 2px solid red; */
        margin-top: 35rem;
        margin-left: 1rem;
        display: grid;
        width: 230px;
        /* margin-block: 30rem; */
      }
    }

  .about_img{
    /* border: 2px solid white; */
    width: 600px;
    height: 300px;
    /* margin: auto; */
    background-image: url(./image/pour\ la\ coffee.jpeg);
    background-size: cover;
    background-position: center;
  }

      /* Responsiveness code */
      @media(min-width: 320px) and (max-width: 460px){
        .about_img{
          /* border: 2px solid red; */
          width: 330px;
          margin-left: 0.1rem;
        }
      }


  .about_content{
    /* border: 2px solid rgb(255, 0, 0); */
    color: white;
    width: 700px;
    height: 300px;
    background-color: #14131b;
    /* margin-left: 1.3rem; */
    /* margin: auto; */
  }

        /* Responsiveness code */
      @media(min-width: 320px) and (max-width: 460px){
        .about_content{
          /* border: 2px solid red; */
          width: 330px;
          height: 330px;
        }
      }

  .btn{
    /* border: 2px solid blue; */
    /* margin-left: 3rem; */
    width: 7rem;
    /* margin-block: 3rem; */
    /* margin-top: 3rem; */
    cursor: pointer;
  }

  .btn >button{
    width: 7rem;
    height: 1.5rem;
    border-radius: 5px;
    margin-block: 1rem;
    border: none;
    background-color: #e0ae7d;
    cursor: pointer;
  }

          /* Responsiveness code */
      @media(min-width: 320px) and (max-width: 460px){
        .btn >.button{
          /* border: 2px solid red; */
          /* width: 330px; */
          /* height: 350px; */
        }
      }
  
  .about_content >h1{
    /* border: 2px solid blue; */
    margin-left: 3rem;
    width: 28rem;
    margin-block: 1rem;
    font-size: 28px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

          /* Responsiveness code */
      @media(min-width: 320px) and (max-width: 460px){
        .about_content >h1{
          /* border: 2px solid red; */
          width: 320px;
          margin-left: 0.2rem;
        }
      }

  .about_content >p{
    /* border: 2px solid blue; */
    margin-block: 0.9rem;
    margin-left: 3rem;
    width: 28rem;
    font-size: 15px;
    opacity: .5;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
  }

     /* Responsiveness code */
     @media(min-width: 320px) and (max-width: 460px){
  .about_content >p{
     /* border: 2px solid red; */
       width: 320px;
      margin-left: 0.2rem;
     }
}

.menu_bar{
  /* border: 2px solid red; */
  margin-block: 2rem;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .menu_bar{
       /* border: 2px solid red; */
       margin-top: 23rem;
       /* margin: auto; */
       }
}

.menu_bar >h1{
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  margin: auto;
  margin-block: 2rem;
  width: 16rem;
  /* border: 2px solid white; */
}
   
.btn{
  /* border: 2px solid white; */
  margin: auto;
}

.menu_bar_container{
  width: 614px;
  height: 250px;
  margin: auto;
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .menu_bar_container{
       /* border: 2px solid red; */
       display: inline-block;
       margin: auto;
       gap: 3rem;
       margin-block: 2rem;
       height: 27rem;
       width: 17rem;
       margin-left: 3rem;
       }
}

.menu_box{
  width: 260px;
  height: 58px;
  border: 1px solid rgba(255, 255, 255, 0.384);
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: space-between;
}

.menu_box >h2{
  color: white;
  font-size: 11.8px;
  margin-left: -1rem;
  font-family:Arial, Helvetica, sans
}

.menu_box >h5{
  color: #e0ae7d;
}

.menu_box1{
  width: 260px;
  height: 58px;
  border: 1px solid rgba(255, 255, 255, 0.384);
  display: flex;
  align-items: center;
  justify-content: space-around;

}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .menu_box1{
      /* border: 2px solid blue; */
      margin-block: 0.5rem;
       }
}

.menu_box1 >img{
  width: 21.5%;
  height: 97%;
  /* margin-right: 1rem; */
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  margin-left: -2.3rem;
  background-color: #e0ae7d;
  /* border: 2px solid red; */
}

.menu_box1 >h2{
  color: white;
  font-size: 11.8px;
  align-items: center;
  /* margin-right: -1rem; */
  justify-content: space-around;
  font-family:Arial, Helvetica, sans

}

.menu_box1 >h5{
  color: #e0ae7d;
}

.menu_box2{
  width: 260px;
  height: 58px;
  border: 1px solid rgba(255, 255, 255, 0.384);
  display: flex;
  align-items: center;
  justify-content: space-around;

}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .menu_box2{
      /* border: 2px solid blue; */
      margin-block: 0.5rem;
       }
}

.menu_box2 >img{
  width: 21.5%;
  height: 97%;
  /* margin-right: 1rem; */
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  margin-left: -2.3rem;
  background-color: #e0ae7d;
  /* border: 2px solid red; */
}

.menu_box2 >h2{
  color: white;
  font-size: 11.8px;
  align-items: center;
  /* margin-right: -1rem; */
  justify-content: space-around;
  font-family:Arial, Helvetica, sans

}

.menu_box2 >h5{
  color: #e0ae7d;
}

.menu_box3{
  width: 260px;
  height: 58px;
  border: 1px solid rgba(255, 255, 255, 0.384);
  display: flex;
  align-items: center;
  justify-content: space-around;

}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .menu_box3{
      /* border: 2px solid blue; */
      margin-block: 0.5rem;
       }
}

.menu_box3 >img{
  width: 21.5%;
  height: 97%;
  /* margin-right: 1rem; */
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  margin-left: -2.3rem;
  background-color: #e0ae7d;
  /* border: 2px solid red; */
}

.menu_box3 >h2{
  color: white;
  font-size: 11.8px;
  align-items: center;
  /* margin-right: -1rem; */
  justify-content: space-around;
  font-family:Arial, Helvetica, sans

}

.menu_box3 >h5{
  color: #e0ae7d;
}

.menu_box4{
  width: 260px;
  height: 58px;
  border: 1px solid rgba(255, 255, 255, 0.384);
  display: flex;
  align-items: center;
  justify-content: space-around;

}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .menu_box4{
      /* border: 2px solid blue; */
      margin-block: 0.5rem;
       }
}

.menu_box4 >h1{
  color: white;
  font-size: 11.8px;
  align-items: center;
  /* margin-right: -1rem; */
  justify-content: space-around;
  font-family:Arial, Helvetica, sans

}

.menu_box4 >h5{
  color: #e0ae7d;
}

.menu_box5{
  width: 260px;
  height: 58px;
  border: 1px solid rgba(255, 255, 255, 0.384);
  display: flex;
  align-items: center;
  justify-content: space-around;

}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .menu_box5{
      /* border: 2px solid blue; */
      margin-block: 0.5rem;
       }
}

.menu_box5 >img{
  width: 21.5%;
  height: 97%;
  /* margin-right: 1rem; */
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  margin-left: -2.3rem;
  background-color: #e0ae7d;
  /* border: 2px solid red; */
}

.menu_box5 >h2{
  color: white;
  font-size: 11.8px;
  align-items: center;
  /* margin-right: -1rem; */
  justify-content: space-around;
  font-family:Arial, Helvetica, sans

}

.menu_box5 >h5{
  color: #e0ae7d;
}

.menu_box6{
  width: 260px;
  height: 58px;
  border: 1px solid rgba(255, 255, 255, 0.384);
  display: flex;
  align-items: center;
  justify-content: space-around;

}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .menu_box6{
      /* border: 2px solid blue; */
      margin-block: 0.5rem;
       }
}

.menu_box6 >img{
  width: 21.5%;
  height: 97%;
  /* margin-right: 1rem; */
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  margin-left: -2.3rem;
  background-color: #e0ae7d;
  /* border: 2px solid red; */
}

.menu_box6 >h2{
  color: white;
  font-size: 11.8px;
  /* align-items: center; */
  /* margin-right: -1rem; */
  justify-content: space-around;
  font-family:Arial, Helvetica, sans

}

.menu_box6 >h5{
  color: #e0ae7d;
}

.menu_box >img{
  width: 21.5%;
  height: 97%;
  /* margin-right: 1rem; */
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  margin-left: -2.3rem;
  background-color: #e0ae7d;
  /* border: 2px solid red; */
}


.discover{
  /* border: 2px solid white; */
  display: flex;
  gap: 2rem;
  width: 47rem;
  /* margin-left: 10rem; */
  /* align-items: center; */
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .discover{
       /* border: 2px solid red; */
       display: inline;
       }
}

.discover-content{
  width: 48%;
  /* height: 30px; */
  margin-top: 3rem;
  /* margin-block: 1rem; */
  /* border: 2px solid white; */
  color: white;
}

.discover-content > h1{
  font-size: 1.5rem;
  width: 550px;
    /* margin-block: 1rem; */
  /* border: 2px solid white; */
  /* margin-bottom: 2rem; */
  font-family:Arial, Helvetica, sans
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .discover-content >h1{
       /* border: 2px solid red; */
       font-size: 1.3rem;
       width: 356px;
       }
}

.discover-content > p{
  width: 420px;
  opacity: .7;
  font-size: .2;
  /* margin-top: 1rem; */
  /* border: 2px solid white; */
  /* margin-bottom: 5rem; */
  font-family:Arial, Helvetica, sans
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .discover-content >p{
       /* border: 2px solid red; */
       font-size: 1.3rem;
       width: 356px;
       }
}

.btn-B >button{
  width: 10rem;
  height: 2rem;
  color: white;
  background-color: #e0ae7d;
  border: none;
  margin-top: 2rem;
  /* margin-block: 7rem; */
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .btn-B >button{
       /* border: 2px solid red; */
       margin-left: 6.1rem;
       }
}

.discover-image{
  width: 40rem;
  height: 45vh;
  /* border: 2px solid blue; */
  margin-left: -5rem;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .discover-image{
       /* border: 2px solid red; */
       margin: auto;
       height: 30vh;
       width: 10rem;
       margin-block: 2rem;
       }
}

.discover-image > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .discover-image > img{
       /* border: 2px solid red; */
       width: 10rem;
       }
}

.popular_product{
  /* border: 2px solid blue; */
  
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .popular_product{
       width: 22rem;
       }
}

.Btn_Pp{
  /* border: 2px solid red; */
  width: 12%;
  margin-left: 12rem;
  margin-top: 5rem;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .Btn_Pp{
       /* border: 2px solid red; */
       width: 10rem;
       }
}

.Btn_Pp >button{
  width: 10rem;
  height: 1.5rem;
  color: white;
  /* gap: 3rem; */
  background-color: #e0ae7d;
  border-radius: 5px;
  border: none;
  /* border: 2px solid; */
  font-size: 12px;
  margin-block: 1rem;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .Btn_Pp >button{
       /* border: 2px solid red; */
       margin-left: -10rem;
       }
}

.Product_Top{
  /* border: 2px solid red; */
  display: flex;
  width: 80%;
  height: 2%;
  margin-left: 15rem;
  gap: 19rem;
  margin-block: 1rem;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .Product_Top{
       /* border: 2px solid red; */
       margin-left: 0.5rem;
       width: 10rem;
       }
}

.Product_Top >h1{
  color: white;
  font-size: 27px;
  margin-top: 0.5rem;
  font-weight: 30px;
  font-family:Arial, Helvetica, sans
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .Product_Top >h1{
       /* border: 2px solid red; */
       width: 30rem;
       font-weight: 10px;
       }
}

.Pt_btn{
  /* border: 2px solid red; */
}

.Btn_Pt >button{
  width: 10rem;
  height: 2.5rem;
  color: white;
  background-color: #e0ae7d;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  /* margin-block: 1rem; */
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .Btn_Pt >button{
       /* border: 2px solid red; */
       margin-left: -17rem;
       margin-top: 4rem;
       }
}

.Popular_box{
  width: 100%;
  height: 300px;
  background-color: black;
  /* border: 2px solid white; */
  /* margin-top: 20rem; */
  display: flex;
  /* gap:3rem; */
  /* justify-content: space-between; */
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .Popular_box{
      display: grid;
      margin-left: 4rem;
      width: 98%;
    }
  }

/* box1 code */
.Box1-card {
  background-color: transparent;
  width: 300px;
  height: 230px;
  perspective: 1000px;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .Box1-card{
      /* border: 2px solid blue; */
      width: 150px;
      height: 250px;
      margin-left: -2rem;
      margin-block: 0.5rem;
    }
  }

.Box1-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 #707070; */
}

.Box1-card:hover .Box1-card-inner {
  transform: rotateY(180deg);
}

.Box1-card-front, .Box1-card-back {
  position: absolute;
  width: 100%;
  height: 230px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.Box1-card-front {
  background-color: transparent;
  width: 250px;
  height: 330px;
  /* margin: .4rem auto; */
  border: 1px solid rgba(255, 255, 255, 0.491);
  background-image: url(./image/NiCARAGUA.png);
  background-size: cover;
  background-position: center;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .Box1-card-front{
      /* border: 2px solid blue; */
      width: 150px;
      height: 250px;
    }
  }

.Box1-card-front-content{
  /* border: 2px solid red; */
  margin-top: 17.5rem;
  display: flex;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .Box1-card-front-content{
      margin-top: 13rem;
      height: 1rem;
    }
  }

.Box1-card-front-content >h5{
  margin-left: 2rem;
  margin-block: 0.2rem;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .Box1-card-front-content >h5{
      /* border: 2px solid red; */
      margin-left: 1rem;
    }
  }

.container{
  /* margin-left: 2rem; */
  /* border: 2px solid blue; */
  /* margin-block: 0.5rem; */
  width: 16rem;
  /* display: flex; */
  font-size: 7px;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .container{
      /* border: 2px solid blue; */
      width: 10rem;
      font-size: 3px;
    }
  }

.name{
  margin-block: 0.5rem;
  width: 10rem;
  margin: auto;
  font-size: 9px;
  /* border: 2px solid blue; */
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .name{
      /* border: 2px solid blue; */
      width: 9rem;
      font-size: 8px;
    }
  }

.price-list{
  margin-block: 0.5rem;
  width: 9rem;
  margin: auto;
  font-size: 12px;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .price-list{
      /* border: 2px solid blue; */
      width: 9rem;
      font-size: 11px;
    }
  }

.price-list > h5 >span{
  color: #e0ae7d;
}

/* span{ */
  /* border: 2px solid red; */
  /* margin-left: 5px;
  margin-block: 0.2rem;
  size: -5px;
} */

.checked {
  color: goldenrod;
  /* border: 2px solid blue; */

}

.Box1-card-back {
  width: 250px;
  height: 330px;
  background-color: #5e412f;
  color: white;
  transform: rotateY(180deg);
}

     /* Responsiveness code */
     @media(min-width: 320px) and (max-width: 460px){
      .Box1-card-back{
        /* margin-top: 1rem; */
        /* border: 2px solid blue; */
        width: 150px;
        height: 250px;
      }
    }

 /* box2 code */
 .Box2-card {
  background-color: transparent;
  width: 300px;
  height: 230px;
  perspective: 1000px;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .Box2-card{
      /* border: 2px solid blue; */
      width: 150px;
      height: 250px;
      margin-left: -2rem;
      margin-block: 0.7rem;
    }
  }

.Box2-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 #707070; */
}

.Box2-card:hover .Box2-card-inner {
  transform: rotateY(180deg);
}

.Box2-card-front, .Box2-card-back {
  position: absolute;
  width: 100%;
  height: 230px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.Box2-card-front {
  background-color: transparent;
  width: 250px;
  height: 330px;
  /* margin: .4rem auto; */
  border: 1px solid rgba(255, 255, 255, 0.491);
  background-image: url(./image/PERU.png);
  background-size: cover;
  background-position: center;
}

   /* Responsiveness code */
   @media(min-width: 320px) and (max-width: 460px){
    .Box2-card-front{
      /* border: 2px solid blue; */
      width: 150px;
      height: 250px;
    }
  }

.Box2-card-back {
  width: 250px;
  height: 330px;
  background-color: #5e412f;
  color: white;
  transform: rotateY(180deg);
  /* border: 2px solid red; */
}

     /* Responsiveness code */
     @media(min-width: 320px) and (max-width: 460px){
      .Box2-card-back{
        /* margin-top: 1rem; */
        /* border: 2px solid blue; */
        width: 150px;
        height: 250px;
      }
    }

  /* box3 code */
  .Box3-card {
    background-color: transparent;
    width: 300px;
    height: 230px;
    perspective: 1000px;
  }

     /* Responsiveness code */
     @media(min-width: 320px) and (max-width: 460px){
      .Box3-card{
        /* margin-top: 1rem; */
        /* border: 2px solid blue; */
        width: 150px;
        height: 250px;
      }
    }
  
  .Box3-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 #707070; */
  }
  
  .Box3-card:hover .Box3-card-inner {
    transform: rotateY(180deg);
  }
  
  .Box3-card-front, .Box3-card-back {
    position: absolute;
    width: 100%;
    height: 230px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .Box3-card-front {
    background-color: transparent;
    width: 250px;
    height: 330px;
    margin-top: 2rem;
    /* margin: .4rem auto; */
    border: 1px solid rgba(255, 255, 255, 0.491);
    background-image: url(./image/PERU.png);
    background-size: cover;
    background-position: center;
  }

     /* Responsiveness code */
     @media(min-width: 320px) and (max-width: 460px){
      .Box3-card-front{
        margin-top: 1rem;
        /* border: 2px solid blue; */
        width: 150px;
        height: 250px;
      }
    }
  
  .Box3-card-back {
    width: 250px;
    height: 330px;
    background-color: #5e412f;
    color: white;
    transform: rotateY(180deg);
    /* border: 2px solid red; */
}

     /* Responsiveness code */
     @media(min-width: 320px) and (max-width: 460px){
      .Box3-card-back{
        margin-top: 1rem;
        /* border: 2px solid blue; */
        width: 150px;
        height: 250px;
      }
    }

.Box{
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  /* border: 2px solid red; */
  margin-left: 2rem;
  /* margin: auto; */
  /* margin-block: 1rem; */
  width: 15.7rem;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .Box{
      margin-left: 2.7rem;
    }
  }

.Text >h5{
  margin-block: 1rem;
  color: #e0ae7d;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .Text >h5{
      font-size: 25px;
    }
  }

.Text >h2{
  margin-block: 1.5rem;
  font-size: larger;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .Text >h2{
      font-size: 27px;
      margin-block: 1rem;
    }
  }

.Text >p{
opacity: .5;
font-size: 12px;
}

  /* Responsiveness code */
  @media(min-width: 320px) and (max-width: 460px){
    .Text >p{
      font-size: 18px;
    }
  }

  .testimonial{
   /* border:2px solid white; */
   margin-top: 8rem;
   /* margin-block: 3rem; */
  }

    /* Responsiveness code */
    @media(min-width: 320px) and (max-width: 460px){
      .testimonial{
        margin-top: 35rem;
      }
    }
  

  .Testimonial_btn{
    /* border: 2px solid blue; */
    width: 6rem;
    margin: auto;
    margin-block: 2.5rem;
  }

  .Testimonial_btn >button{
    width: 6rem;
    height: 1.8rem;
    background-color: #e0ae7d;
    color: white;
  }

  .testimonial-item >h1{
    color: white;
    margin: auto;
    /* border:2px solid white; */
    width: 20rem;
  }

  .testimonial-item >p{
    color: white;
    display: flex;
    margin-block: 1rem;
    justify-content: space-between;
    /* border:2px solid white; */
    width: 30rem;
    margin: auto;
  }

    /* Responsiveness code */
    @media(min-width: 320px) and (max-width: 460px){
      .testimonial-item >p{
        /* border:2px solid white; */
        font-size: 15px;
        width: 22rem;
      }
    }
  

  .testimonial-item  >i{
    border: 2px solid white;
    height: 30px;
    color: white;
    /* gap: 40rem; */
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 20px;
    display: none;
    /* margin-left: 10rem; */

  }

      /* Responsiveness code */
      @media(min-width: 320px) and (max-width: 460px){
        .testimonial-item >span{
          /* border:2px solid white; */
          display: ;
        }
      }

  .testimonial-item >img{
    /* border:2px solid white; */
    margin: auto;
    height: 30px;
    margin-left: 30rem;
    margin-block: 4rem;
  }

      /* Responsiveness code */
      @media(min-width: 320px) and (max-width: 460px){
        .testimonial-item >img{
          /* border:2px solid white; */
          margin-left: 9.5rem;
        }
      }

  .testimonial-item >h4{
    color: white;
    /* border:2px solid white; */
    width: 10rem;
    margin-block: 1rem;
    margin-left: 27rem;
    /* margin: auto; */
  }

      /* Responsiveness code */
      @media(min-width: 320px) and (max-width: 460px){
        .testimonial-item >h4{
          /* border:2px solid white; */
          margin-left: 7.5rem;
        }
      }

  .T-img{
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-block: 5rem;
    margin-top: 2rem;
    margin: auto;
    /* border: 1px solid rgba(255, 255, 255, 0.491); */
    background-image: url(./image/Me.jpg);
    background-size: cover;
    background-position: center;
  }

      /* Responsiveness code */
      @media(min-width: 320px) and (max-width: 460px){
        .T-img{
          /* border:2px solid white; */
          margin-top: 1rem;
        }
      }

  .testimonial-item >h6{
    color: #e0ae7d;
    /* border:2px solid white; */
    width: 10rem;
    margin-left:28rem;
    /* margin: auto; */
  }

        /* Responsiveness code */
        @media(min-width: 320px) and (max-width: 460px){
          .testimonial-item >h6{
            /* border:2px solid white; */
            margin-left: 8rem;
          }
        }

        .booking{
          /* border: 2px solid red; */
          display: flex;
          margin-block: 1.5rem;
          width: 40rem;
          height: 53vh;
        }

                /* Responsiveness code */
                @media(min-width: 320px) and (max-width: 460px){
                  .booking{
                    /* border: 2px solid red; */
                    display: inline;
                  }
                }

        .booking_img{
          /* border: 2px solid blue; */
          height: 53vh;
          width: 42rem;
          background-image: url(./image/map.jpg);
          background-size: cover;
          background-position: right;
        }

                        /* Responsiveness code */
                        @media(min-width: 320px) and (max-width: 460px){
                          .booking_img{
                            /* border: 2px solid red; */
                            width: 22.2rem;
                          }
                        }

        .btn{
          /* border: 2px solid blue; */
          margin-block: 1.3rem;
          height: 20px;
        }

        .btn >button{
          height: 20px;
          margin-top: -20rem;
        }

              /* Responsiveness code */
              @media(min-width: 320px) and (max-width: 460px){
                .btn >button{
                  /* border: 2px solid red; */
                }
              }

        .btn >h1{
          color: white;
          font-size: 18px;
          width: 13rem;
          margin-top: -0.7rem;
          /* margin-block: 1rem; */
          margin-left: -2rem;
        }

              /* Responsiveness code */
              @media(min-width: 320px) and (max-width: 460px){
                .btn >h1{
                  /* border: 2px solid red; */
                }
              }

        .booking_content{
          /* border: 2px solid goldenrod; */
          background-color: #14131b;
          width: 20rem;
          height: 53vh;
        }

                        /* Responsiveness code */
                        @media(min-width: 320px) and (max-width: 460px){
                          .booking_content{
                            /* border: 2px solid red; */
                            width: 22.2rem;
                          }
                        }

        .booking_box{
          /* border: 2px solid goldenrod; */
          width: 100%;
          /* border-radius: 20px; */
          /* margin-top: 2rem; */
          margin-left: 2rem;
          border: none;
        }

        label{
          color: white;
        }

        .inner_booking_box{
          width: 35rem;
          /* margin-top: 1.5rem; */
          margin-block: 1.8rem;
        }

              /* Responsiveness code */
              @media(min-width: 320px) and (max-width: 460px){
                .inner_booking_box{
                  /* border: 2px solid red; */
                  margin-top: 2rem;
                }
              }

        .inner_booking_box >i{
          color: white;
          margin-left: -2rem;
          opacity: .5;
        }

        .inner_booking_box>input{
          width: 50%;
          height: 2.2rem;
          color: white;
          background-color: black;
          border-radius: 5px;
          border: 1px solid rgba(255, 255, 255, 0.416);
          /* margin-block: 1rem; */
         }

                       /* Responsiveness code */
                       @media(min-width: 320px) and (max-width: 460px){
                        .inner_booking_box >input{
                          /* border: 2px solid red; */
                          height: 3rem;
                          width: 55%;
                        }
                      }

         .date{
          color: white;
         }

         .btn-2 >button{
          width: 9rem;
          height: 2.5rem;
          color: white;
          /* gap: 3rem; */
          margin-left: 3rem;
          /* margin-top: 0.4rem; */
          background-color: #e0ae7d;
          border-radius: 5px;
          border: none;
          /* border: 2px solid; */
          font-size: 12px;
          /* margin-block: 1rem; */
         }

  /* popular place code */
.Blog{
  /* border: 2px solid red; */
  margin-block: 2rem;
  /* background-color: red; */
  /* display: flex; */
  align-items: center;
  /* gap: 26rem; */
}

              /* Responsiveness code */
              @media(min-width: 320px) and (max-width: 460px){
                .Blog{
                  /* border: 2px solid red; */
                  width: 22.2rem;
                }
              }


.Blog_top{
  /* border: 2px solid blue; */
  color: white;
}
.Blog_top >button{
  /* border: 2px solid red; */
  margin-left: 27rem;
}

              /* Responsiveness code */
              @media(min-width: 320px) and (max-width: 460px){
                .Blog_top >button{
                  /* border: 2px solid red; */
                  margin-left: 7rem;
                }
              }

.Blog_top >h1{
  color: white;
  margin-left: 24rem;
  font-size: 33px;
}

              /* Responsiveness code */
              @media(min-width: 320px) and (max-width: 460px){
                .Blog_top >h1{
                  /* border: 2px solid red; */
                  margin-left: 3rem;
                  width: 15rem;
                }
              }

.Blogbox{
  /* border: 2px solid red; */
  width: 700px;
  height: 250px;
  /* border: 2px solid; */
  gap: -5rem;
  display: flex;
  justify-content: space-between;
}

          /* Responsiveness code */
          @media(min-width: 320px) and (max-width: 460px){
            .Blogbox{
              border: 2px solid red;
              display: grid;
              width: 350px;
            }
          }

.blog_wrapper{
  width: 210px;
  height: 250px;
  /* border: 2px solid blue; */
  /* border-radius: 12px; */
  /* background-color: rgb(23 210 233); */
}


          /* Responsiveness code */
          @media(min-width: 320px) and (max-width: 460px){
            .blog_wrapper{
              border: 2px solid blue;
              display: grid;
              margin-block: 0.6rem;
              margin-left: 3.5rem;
            }
          }

.blog-boxOne{
  /* border: 2px solid red; */
  height: 150px;
  /* width: 250px; */
  /* margin: .4rem auto; */
  /* border-radius: 15px; */
  background-image: url(./image/cafee.jpeg);
  background-size: cover;
  background-position: center;
}
.blog-boxTwo{
  /* border: 2px solid red; */
  height: 150px;
  /* width: 250px; */
  /* margin: .4rem auto; */
  /* border-radius: 15px; */
  background-image: url(./image/cafe.jpeg);
  background-size: cover;
  background-position: center;
}
.blog-boxThree{
  /* border: 2px solid red; */
  height: 150px;
  /* width: 250px; */
  /* margin: .4rem auto; */
  /* border-radius: 15px; */
  background-image: url(./image/pour.jpeg);
  background-size: cover;
  background-position: center;
}

.Red > h5{
  /* border: 2px solid red; */
  font-size: 11px;
  color: rgba(255, 255, 255, 0.37);
  margin-block: 0.3rem;
  display: flex;
  justify-content: space-around;
}

.Red >h5 >span{
  /* border: 2px solid; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* margin-left: 3rem; */
  color: #e0ae7d;
}

.Red >h3{
  color: white;
  width: 13rem;
  margin-block: 0.2;
  font-size: 15px;
}

.Red >a{
  /* border: 2px solid; */
  color: white;
  font-size: 9px;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-block: 1rem;
}
.Green > h5{
  /* border: 2px solid red; */
  font-size: 11px;
  color: rgba(255, 255, 255, 0.37);
  margin-block: 0.3rem;
  display: flex;
  justify-content: space-around;
}

.Green >h5 >span{
  color: #e0ae7d;
}

.Green >h3{
  color: white;
  width: 13rem;
  margin-block: 0.2;
  font-size: 15px;
}

.Green >a{
  color: white;
  font-size: 9px;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-block: 1rem;
}
.Gold > h5{
  /* border: 2px solid red; */
  font-size: 11px;
  color: rgba(255, 255, 255, 0.37);
  margin-block: 0.3rem;
  display: flex;
  justify-content: space-around;
}

.Gold >h5 >span{
  color: #e0ae7d;
}

.Gold >h3{
  color: white;
  width: 13rem;
  margin-block: 0.2;
  font-size: 15px;
}

.Gold >a{
  color: white;
  font-size: 9px;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-block: 1rem;
}


  .video{
    /* border: 2px solid red; */
    width: 20rem;
    margin-left: ;
  }

     /* Responsiveness code */
     @media(min-width: 320px) and (max-width: 460px){
      .vidz >video{
        /* border: 2px solid red; */
        /* width: 20rem; */
        /* margin-left: 5rem; */
        margin-block: 3rem;
        margin-top: 37rem;
         }
  }